{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Silver</title>

        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" type="text/css" href="{% static "learning_logs/footer.css" %}">
        <link rel="icon" type="image/png" href="{% static "learning_logs/favicon.ico" %}" />
    </head>


    <body>
        <!-- Static Navbar -->
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    </button>
                  <a class="navbar-brand" align="middle" href="{% url 'learning_logs:index' %}"><img src="{% static "learning_logs/Cerner_RGB_Standard_%20horizontal-1.png" %}" width ="100px"></a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">

                <div class="text-primary"></div>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a class="words">Welcome back, {{ user.username }}.</a></li>
                            <li><a href="{% url 'learning_logs:medications' %}"><header>Medications</header></a></li>
                            <li><a href="{% url 'learning_logs:support' %}">Support</a></li>
                            <li><a href="{% url 'users:logout' %}">Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'users:register' %}">Register</a></li>
                            <li><a href="{% url 'learning_logs:support' %}">Support</a></li>
                            <li><a href="{% url 'users:login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div> <!--/.nav-collapse-->
            </div>
        </nav>

        <div class="container">
            <div class="container-sp">
                <div class="page-header">
                    {% block header %} {% endblock header %}
                </div>
                <div>
                    {% block content %} {% endblock content %}
                </div>
            </div>
        </div>
        <div class="holder"></div>
    </body>

<div class="footer text-center">
  <p>Copyright © 2018 Cerner Corporation.  All Rights Reserved.</p>
</div>

</html>