{% extends "learning_logs/base.html" %}
{% load static %}

{% block header %}
        <img src="{% static "learning_logs/Final image.jpg" %}" width="100%">

  <div class="holder text-center">

  <h2>CREATORS OF SILVER</h2>
    <div class="row"></div>
  <tr>
    <th>Gregg Allnutt</th>
    <th> / </th>
    <th>Pratik Vaidya</th>
    <th> / </th>
    <th>Lucas Kern</th>
    <th> / </th>
    <th>Jack Sullivan</th>
  </tr>
  </div>
</div>
{% endblock header %}

{% block content %}

{% endblock content %}