{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h2>{{ medication.name }}</h2>
    <a href="{% url 'learning_logs:medications'%}">Back to Medications</a>
{% endblock header %}

{% block content %}
    <div class="container">
        <h4>Medication Details</h4>
        <div class="table-responsive" style="padding-bottom: 10px;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Medication</th>
                        <th>Dose</th>
                        <th>Pill Count</th>
                        <th>Prescriber</th>
                        <th>Pharmacy</th>
                        <th>Price</th>
                        <th>Expiration Date</th>
                        <th>Prescription Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ medication.name }}</td>
                        <td>{{ medication.dose }} {{ medication.dose_units }}</td>
                        <td>{{ medication.pill_count }}</td>
                        <td>{{ medication.prescriber }}</td>
                        <td>{{ medication.pharmacy }}</td>
                        <td>${{ medication.price|floatformat:2 }}</td>
                        <td>{{ medication.expiration_date }}</td>
                        <td>
                            <strong>
                                <span class="text-{{ medication.expiration_status }}">
                                    {{ medication.expiration_text }}
                                </span>
                            </strong>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h4 class="tp-2">Local Pharmacies</h4>

        <div class="input-group input-group-sm col-xs-3">
            <span class="input-group-addon">Zip Code</span>
            <input type="text" class="form-control" placeholder="ex. 64108">
            <span class="input-group-btn"><button id='search' type="button" class="btn btn-default">Go</button></span>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pharmacy in pharmacies %}
                            <tr>
                                <td>{{ pharmacy.name }}</td>
                                <td>{{ pharmacy.formatted_address }}</td>
                                <td>${{ pharmacy.price|floatformat:2 }}</td>
                            </tr>
                        {% empty %}
                            <p>Unfortunately, we are unable to find any local pharmacies.</p>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4" style="text-align:center">
                <iframe class="mt-5" height="450" frameborder="0" style="border:0; margin: 36px 25px;"
                        src="https://www.google.com/maps/embed/v1/search?q=pharmacies%20near%20{{ zip_code }}&key=AIzaSyB9VuR8O5CajyGfVzn3mO1HNG2bj9y89ZQ">
                </iframe>
            </div>
        </div>

    </div>

    <script>
    document.querySelector('#search').addEventListener('click', function() {
        zip_code = document.querySelector('input').value;
        if (!zip_code) { zip_code = '64108' };
        document.location.pathname = 'medications/refills/' + zip_code + '/' + {{ medication.id }};
    });

    </script>
{% endblock content %}