{% extends "learning_logs/base.html" %}
{% load static %}

{% block header %}
        <h1>Contact Us</h1>
{% endblock header %}

{% block content %}
  <div class="info-text"></div>
  <p>
        Hello welcome to Silver the all in one application to save you money and protect your body from potentially toxic
    medications. We strive hard to give all users the best user experiance possible. If you are having any techincal
    difficulties, need to ask questions about the site or just want to send use a thought on how to impove your experiance
    while on our site just drop us a message below!
  </p>
  </div>

{% endblock content %}